EXPO_PUBLIC_API_BASE_URL=https://asoview-clone-dev.duckdns.org
EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=asoview-clone-dev.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=asoview-clone-dev
EXPO_PUBLIC_FIREBASE_APP_ID=
