NEXT_PUBLIC_API_BASE_URL=https://asoview-clone-dev.duckdns.org/api
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=asoview-clone-dev.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=asoview-clone-dev
NEXT_PUBLIC_FIREBASE_APP_ID=
